{% extends 'base.html' %}
{% block title %}
About
{% endblock title %}
{% block body %}
 


    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
            <img src="static/assets/img/about.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right" data-aos-delay="100">
            <h3>They provide for the most worthy pleasures, as if the pleasures of the body were to be assumed.</h3>
            <p class="fst-italic">
              It is important to take care of the patient, the patient will be followed by the patient, but it will happen at the same time as labor and pain
              some great things
            </p>
            <ul>
              <li><i class="ri-check-double-line"></i> Ullamco laboris required and aliquip ex and comfortable consequat.</li>
              <li><i class="ri-check-double-line"></i> Doubts or irrure pain in reprimands in the pleasure he wants.</li>
              <li><i class="ri-check-double-line"></i> I do not work at all except to get some advantage out of it. Duis or irure pain in reprimands in pleasure trideta storacalaperd mastir pain eu run away no be born.</li>
            </ul>
            <p>
              I do not work at all except to get some advantage out of it. Doubts or irure pain in reprimanding in pleasure
              He wants to be a hair, let him run away from the pain, and no one will give birth. Unless they are blinded by lust, they will not come out
            </p>
          </div>
        </div>

      </div>
    </section>
      <!-- End About Section -->


<br>


</div>
</div>


{% endblock body %}